2captcha_python
beautifulsoup4==4.13.4
cloudscraper==1.2.71
gspread==6.2.1
gspread_dataframe==4.0.0
mycdp==1.2.0
oauth2client
pandas==2.3.0
PyDrive2==1.21.3
python-dotenv==1.1.0
python-telegram-bot==22.1
pytz
Requests
selenium
seleniumbase
html5lib
lxml